.title{
    padding-top: 50px;
    padding-left: 100px;
    font-family: Playfair Display,Georgia,Times New Roman,"Liberation Serif",serif;
    position: relative;

}


#causeofdeaths{
    position:absolute;
    width: 50%; 
    height: 100px; 
    float: left;
}


.causeofdeathstext{
    margin-left: 60%; height: 100px;
    margin-right:5%;
    height: 550px;
   
}
