

    .references .hoverover .referencetext{
        margin-left: 50%;
        margin-right: 20%;
        visibility: hidden;
        
    }


    .references .hoverover:hover .referencetext{
        visibility: visible;
       
    }

    
        
       
    

   

    *{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

#cancerpercentagemap{
    margin: 0 auto;
    
  }

.heading{
    background: url(https://i.imgur.com/nAX0wf8.png);
    background-color: #2e2e2e;
    background-size: 100% 130%;
    
    height: 110vh;
    
    margin: 0;
    width: 100%;
    color:white;
}   




.heading h1{
    
    padding-top: 650px;
    font-size: 50px;
    margin-left:90px;
    position: relative;

opacity: 1;
animation-name:headingopa;
animation-iteration-count:1;
animation-timing-function: ease-in;
animation-duration:1.5s;
}

@keyframes headingopa {
   0% {
       opacity:0; padding-right:50px;
   }
   100%{
       opacity:1; padding-right: 0px;
   }
  }
  

.heading h3{
    margin-left: 90px;
    font-family: Calibri;
    color: rgb(23, 206, 206);
    opacity: 1;
    animation-name:fadeInOpacity;
    animation-iteration-count:1;
    animation-timing-function: ease-in;
    animation-duration:3s;
    
    }
    
    @keyframes headingopa {
    0% {opacity:0;}
    100% {opacity:1;}
    }
.introduction{
    background-color:rgb(46, 46, 46);
    height: 300vh;
    width: 100%;


}

.introduction h1{
   position: relative;
   text-align:center;
    padding-top: 200px;
    color: white;
    font-size: 45px;
    
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
 
}

.introduction h2{
    position: relative;
    text-align:center;
     padding-top: 200px;
     color: white;
     font-size: 30px;
     
   opacity: 1;
   animation-name: fadeInOpacity;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   animation-duration: 1.5s;
  
 }


@keyframes fadeInOpacity {
  0% {
      opacity: 0; padding-right:50px;
  }
  100% {
      opacity: 1; padding-right:0px;
  }
}

.introduction p{
    text-align: center;
    
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
    font-family: Calibri;
    margin-left: 300px;
    margin-right: 300px;
}

.hypothesis{
    background-color:rgb(65, 64, 64);
    height: 200vh;
    width: 100%;
}

.hypothesis h1{
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 45px;
    position: relative;

opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: 1.5s;

}


@keyframes fadeInOpacity {
0% {
    opacity: 0; padding-right:50px;
}
100% {
    opacity: 1; padding-right:0px;
}
}

.hypothesis p{
    text-align: center;
    
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
    font-family: Calibri;
    margin-left: 300px;
    margin-right: 300px;
}

table{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: Calibri;

}

th{
    text-align:left;
    color:rgb(23, 206, 206);
    border-right: 1px solid white;
}

table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}

td{
    color: rgba(255, 255, 255, 0.699);
}

caption{
    font-size: 30px;
    color: white;
}

hr{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
   
    color: rgba(255, 255, 255, 0.699);
    
}


.conclusion h1{
    color: white;
    padding-top: 200px;
    color: white;
    font-size: 45px;
    text-align: center;
}

.conclusion{
    background-color: rgb(46, 46, 46);
    height: 100vh;
    
}
.conclusion p{
    text-align: center;
    
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
    font-family: Calibri;
    margin-left: 300px;
    margin-right: 300px;
}

.analysis1{
    background-color:rgb(65, 64, 64);
    height: 250vh;
    width: 100%;
}

.analysis1 h1{
        text-align: center;
        padding-top: 200px;
        color: white;
        font-size: 45px;
        position: relative;
    
    opacity: 1;
    animation-name: fadeInOpacity1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    
    }
    
    
    @keyframes fadeInOpacity1 {
    0% {
        opacity: 0; padding-right:50px;
    }
    100% {
        opacity: 1; padding-right:0px;
    }
    }
    
    .analysis1 p{
        text-align: center;
        
        color: rgba(255, 255, 255, 0.699);
        font-size: 20px;
        font-family: Calibri;
        margin-left: 300px;
        margin-right: 300px;
    }

    .analysis2{
        background-color:rgb(46, 46, 46);
        height: 250vh;
        width: 100%;
    }
    
    .analysis2 h1{
            text-align: center;
            padding-top: 200px;
            color: white;
            font-size: 45px;
            position: relative;
        
        opacity: 1;
        animation-name: fadeInOpacity1;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1.5s;
        
        }
        
        
        @keyframes fadeInOpacity1 {
        0% {
            opacity: 0; padding-right:50px;
        }
        100% {
            opacity: 1; padding-right:0px;
        }
        }
        
        .analysis2 p{
            text-align: center;
            
            color: rgba(255, 255, 255, 0.699);
            font-size: 20px;
            font-family: Calibri;
            margin-left: 300px;
            margin-right: 300px;
        }

        .analysis3{
            background-color:rgb(65, 64, 64);
            height: 250vh;
            width: 100%;
        }
        
        .analysis3 h1{
                text-align: center;
                padding-top: 200px;
                color: white;
                font-size: 45px;
                position: relative;
            
            opacity: 1;
            animation-name: fadeInOpacity1;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 1.5s;
            
            }
            
            
            @keyframes fadeInOpacity1 {
            0% {
                opacity: 0; padding-right:50px;
            }
            100% {
                opacity: 1; padding-right:0px;
            }
            }
            
            .analysis3 p{
                text-align: center;
                
                color: rgba(255, 255, 255, 0.699);
                font-size: 20px;
                font-family: Calibri;
                margin-left: 300px;
                margin-right: 300px;
            }

            .analysis4{
                background-color:rgb(46, 46, 46);
                height: 250vh;
                width: 100%;
            }
            
            .analysis4 h1{
                    text-align: center;
                    padding-top: 200px;
                    color: white;
                    font-size: 45px;
                    position: relative;
                
                opacity: 1;
                animation-name: fadeInOpacity1;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 1.5s;
                
                }
                
                
                @keyframes fadeInOpacity1 {
                0% {
                    opacity: 0; padding-right:50px;
                }
                100% {
                    opacity: 1; padding-right:0px;
                }
                }
                
                .analysis4 p{
                    text-align: center;
                    
                    color: rgba(255, 255, 255, 0.699);
                    font-size: 20px;
                    font-family: Calibri;
                    margin-left: 300px;
                    margin-right: 300px;
                }

                
.references h1{
    color: white;
    padding-top: 200px;
    color: white;
    font-size: 45px;
    text-align: center;
}

.references{
    background-color: rgb(65, 64, 64);
    height: 125vh;
    overflow-y: hidden;
    
}
.references p{
    text-align: center;
    
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
    font-family: Calibri;
    margin-left: 300px;
    margin-right: 300px;
}

.dataset{
    background-color:rgb(46, 46, 46);
    height: 275vh;
    width: 100%;
    overflow-y: hidden;


}

.dataset h1{
   position: relative;
   text-align:center;
    padding-top: 200px;
    color: white;
    font-size: 45px;
    
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
 
}

.dataset h2{
    position: relative;
    text-align:center;
     padding-top: 200px;
     color: white;
     font-size: 30px;
     
   opacity: 1;
   animation-name: fadeInOpacity;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   animation-duration: 1.5s;
  
 }


@keyframes fadeInOpacity {
  0% {
      opacity: 0; padding-right:50px;
  }
  100% {
      opacity: 1; padding-right:0px;
  }
}

.dataset p{
    text-align: center;
    
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
    font-family: Calibri;
    margin-left: 300px;
    margin-right: 300px;
}

.credit h1{
    color: white;
    padding-top: 200px;
    color: white;
    font-size: 45px;
    text-align: center;
}

.credit{
    background-color: rgb(46, 46, 46);
    height: 100vh;
    
}
.credit p{
    text-align: center;
    
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
    font-family: Calibri;
    margin-left: 300px;
    margin-right: 300px;
}


#cancerpercentagemap{
    padding-top:100px;
    padding-left:100px;
    padding-right:100px;
}


               

